body{background-image:url(background.jpg)}

#navbar ul{
        display: none;
        background-color: #ffb841;
        position: absolute;
        top: 100%;
}

#navbar li:hover ul { display: block; }

#navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
}

 #navbar {
        height: 30px;
        background-image:url(background1.png);
        padding-left: 25px;
        min-width: 470px;
}

#navbar li {
        float: left;
        position: relative;
        height: 100%;
}

#navbar li a {
        display: block;
        padding: 6px;
        width: 100px;
        color: #000000;
        text-decoration: none;
        text-align: center;
}

#navbar ul li { float: none; }

#navbar li:hover { background-color: #ffb841; }

#navbar ul li:hover { background-color: #fa9a00; }

img {
  border-radius: 20px;
}

.ic{
	border-radius: 0px;
}

.footer {
	background-image:url(background1.png);
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center; 
	width: 100%;   
	font-size: 19px;
	font-weight: bold;
	color: #000000;  
}

.text {
	right: 0;
	bottom: 0;
	width: 70%;
	margin: 10px auto 5px;	
	font-size: 20px;
	color: #000000;  
}



table {
   border: 1px solid grey;
}

th {
   border: 1px solid grey;
}

td {
   border: 1px solid grey;
}

.icon {
    width: 60px;
    height: 60px;
    border: 5px solid skyblue;
    border-image: linear-gradient(to right top, blue, skyblue, blue);
    border-image-slice: 1;
	margin: 0px auto 0px;
}



.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}